.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background: #fff;
  z-index: 100;
}

/* MOBILE */
.navigator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 20px;
}

.desktop_nav {
  display: none;
}

.footer {
  display: none;
}

.menu_mobile {
  background: none;
  border: none;
  cursor: pointer;
}

/* DESKTOP */
@media (min-width: 1440px) {
  .header {
    width: 312px;
    height: 100vh;
  }

  .footer {
    display: block;
  }

  .navigator_header {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    border-right: 1px solid var(--color-scheme-border);
  }

  .logo_link {
    margin: 18px 0 12px 24px;
  }

  .desktop_nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 32px);
    margin: 0 16px;
    padding: 0;
  }

  .nav_item {
    list-style: none;
  }

  .nav_link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    text-decoration: none;
    color: var(--color-scheme-text);
    border-radius: 8px;
  }

  .active .nav_link {
    background: var(--color-scheme-foreground);
  }

  .footer {
    margin-top: auto;
    width: 100%;
  }

  .menu_box {
    display: none;
  }
}