.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: #fff;
  z-index: 999;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 68px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 100%;
    max-width: 312px;
  }
}
