
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: #fff;
  z-index: 100;
}
.navigator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 36px;
  margin: 16px 20px;
}
.logo_link {
  width: 84px;
  height: 36px;
}
.logo_header{
  width: 100%;
  height: 100%;
  object-fit: contain;}
.desktop_nav {
  display: none;
}
.menu_mobile {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 100%;
    max-width: 312px;
  }
  .desktop_nav {
    display: flex;
  }
  .menu_box {
    display: none;
  }
  .navigator_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-right: 1px solid var(--color-scheme-border);
    padding: 0;
    margin: 0;
    background: var(--color-scheme-background);
  }
  .logo_link {
    width: 105px;
    height: 45px;
    margin: 17.5px 0 9.5px 24px;
    padding: 0;
  }
  .menu_mobile {
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }
  .desktop_nav {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    margin: 0 16px;
    padding: 0;
  }
  .nav_item {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 8px;
  }
  .nav_link_modal {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-text);
    text-decoration: none;
    cursor: pointer;
  }
  .active {
    background: var(--color-scheme-foreground);
    border-radius: 8px;
    padding: 8px;
  }
}
