.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    max-width: 60%;
}

.titleText {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.editButton,
.deleteButton {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.date {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
}

.dateText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
}

.editSvgIcon,
.deleteSvgIcon {
    fill: var(--color-scheme-text);
}

.description {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-scheme-text);
    background-color: var(--opacity-neutral-darkest-5);
    border-radius: 100px;
    padding: 4px 10px;
}

@media only screen and (min-width: 1440px) {

    .titleText {
        font-size: 20px;
    }

    .dateText {
        font-size: 16px;
    }

    .label {
        font-size: 14px;
    }

    .container {
        height: 727px;
    }

    .description {
        overflow-y: auto;
    }
}