.container {
  box-sizing: border-box;
  max-width: 375px;
  padding: 20px;
  margin: 68px auto 0 auto;
  font-family: var(--font-family);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 644px;
  }
}
