.week_selector_container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 1114px;
  margin: 0 auto;
}

.week_item {
  position: relative;
  z-index: 1;
  flex: 0 0 97px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  text-decoration: none;

  background: #fff4f6;
  border: 4px solid transparent;
  transition: color 0.3s ease;
  box-sizing: border-box;
}

.week_item.selected {
  color: #000;
  border-color: transparent;
}

.week_item.active {
  background-color: #ffd1d1;
  color: #000;
  border: 4px solid rgba(0, 0, 0, 0.15);
}

.week_item.disabled {
  background: #f2f2f2;
  opacity: 0.6;
}

.week_number {
  width: 65px;
  height: 34px;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;

  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
}

.week_label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;

  line-height: 150%;
  text-align: center;
  color: #000;
}

.active_pill {
  position: absolute;
  inset: -4;
  background-color: #ffd1d1;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  z-index: -1;
}
