.boxFooter {
  margin-top: auto;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.boxFooterList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 16px;
  align-items: center;
}
.sign_link_modal {
  border-bottom: 4px solid var(--color-scheme-accent);
  background: var(--color-scheme-foreground-alt);
  border-radius: 100px;
  width: 268px;
  height: 42px;
  transition: border-bottom 0.2s ease;
  transition: background 0.2s ease;
}
.sign_link_modal:hover {
  border-bottom: 4px solid var(--color-scheme-border);
  background: var(--color-scheme-background);
}
.sign_link:focus {
  background: var(--color-neutral-light);
  border-bottom: 4px solid var(--color-scheme-border);
}

.sign_link_modal:disabled {
  color: var(--color-scheme-text);
  border-bottom: 4px solid var(--color-scheme-accent);
  background: var(--color-scheme-foreground-alt);
  opacity: 0.3;
  cursor: not-allowed;
}
.sign_link_modal + li {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}
.sign_link_modal + li:hover {
  background: var(--color-scheme-foreground);
}
.sign_link {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

@media (min-width: 1440px) {
  .sign_link_modal {
    width: 280px;
    height: 46px;
  }
  .sign_link {
    font-size: 16px;
  }
}
