.container {
    margin: 0 16px;
}

.button {
    width: 100%;
    background-color: var(--color-scheme-foreground-alt);
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-text);
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-scheme-text);
}

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
    background-color: var(--color-scheme-foreground);
    border-radius: 100px;
    padding: 2px 12px;
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 18px;
    }

    .date {
        font-size: 16px;
    }

    .label {
        font-size: 16px;
    }
}