.container {
    padding: 32px 20px;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 68px);
}

.entryDetailsContainer {
    padding: 16px 24px 24px 24px;
    background-color: var(--color-scheme-foreground);
    border-radius: 32px;
    flex: 1;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 32px 20px;
        max-width: 768px;
    }
}