.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-neutral-darkest-50);
  display: flex;
  z-index: 101;
}
.navigator_header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-scheme-background);
  width: 300px;
  height: 100%;
}
.menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 24px;
}
.logo_link {
  width: 105px;
  height: 45px;
  margin: 0;
  padding: 0;
}
.menu_mobile {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.desktop_nav {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  padding: 0;
}
.nav_item {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 8px;
}
.nav_link_modal {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  text-decoration: none;
  cursor: pointer;
}
.active {
  background: var(--color-scheme-foreground);
  border-radius: 8px;
padding: 8px;
}