.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .container {
    max-width: 1344px;
  }
}

.journeyContainer {
  width: 1064px;
  padding: 24px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px;
  width: 100%;
  background-color: var(--color-scheme-foreground);
  position: relative;
}

.tabIndicator {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: calc(50%);
  background-color: var(--color-scheme-accent);
  border-radius: 100px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.slideRight .tabIndicator {
  transform: translateX(calc(100%));
}

.tabButton {
  background-color: transparent;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  cursor: pointer;
  position: relative;
}

.tabButton:hover,
.tabButton:focus,
.tabButton:active {
  border: 1px solid var(--opacity-transparent);
}

/* Розвиток малюка */
.babyContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 16px;
  background: var(--color-scheme-foreground);
}

.babyContentLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.babyImageWrapper {
  margin-bottom: 16px;
  overflow: hidden;
  width: 100%;
}

.babyImage {
  border: 1px solid var(--color-scheme-border);
  border-radius: 24px;
  width: 100%;
  max-width: 656px;
  height: auto;
  aspect-ratio: 287 / 379;
  object-fit: cover;
}

.babyActivity,
.babyAnalogy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.babyJourneyInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.babyActivityDevelopment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.babyActivityDevelopmentText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.babyInterestFact {
  border-radius: 12px;
  padding: 12px;
  background: var(--color-scheme-foreground-alt);
}

.babyInterestFactTitle,
.adviceComfortTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.babyInterestFactLogo {
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

/* Тіло мами */
.momContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  background: var(--color-scheme-background);
}

.momContentLeft {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.fillingsBlock,
.comfortBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 100%;
  background: var(--color-scheme-foreground);
}
.comfortBlock {
  margin-bottom: 0;
}

.feelingsList {
  padding-left: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  list-style: none;
}

.feelingsTitle {
  margin: 0 0 8px 0;
}

.fillingsItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  background: var(--opacity-neutral-darkest-5);
}

.sensationDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-text);
  margin: 0;
}

.comfortList {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.adviceComfortItem {
  list-style: none;
}

.adviceComfortContent {
  margin: 0;
}

.tasksComponent {
  width: 100%;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .journeyContainer {
    padding: 32px 0;
  }
  .babyImage {
    aspect-ratio: 656 / 379;
  }

  .babyContent {
    gap: 24px;
    padding: 24px;
    align-items: flex-start;
  }

  .babyContentLeft {
    width: auto;
    align-items: flex-start;
  }

  .tasksComponent {
    min-height: 498px;
  }

  .momContent,
  .babyContent {
    width: 100%;
  }
}

/* Desktop */
@media only screen and (min-width: 1336px) {
  .tabContainer {
    max-width: 572px;
  }

  .momContent,
  .babyContent {
    flex-wrap: nowrap;
    max-width: 1064px;
  }

  .babyImage {
    aspect-ratio: 461 / 379;
  }
  .tasksComponent {
    max-width: fit-content;
  }
}
